body {
    margin-left: 2%;
    margin-top: 2%;
    background-color: beige;
    background-size: 100%;
}
u.anime:active {
    content: url(images/anime.jpg);
    display: flex;
    height: 350px;
    width: auto;
    position: relative;
}
u.figurine:active {
    content: url(images/pic2.jpg);
    display: flex;
    height: 350px;
    width: auto;
    position: relative;
}
u.games:active {
    content: url(images/game.jpg);
    display: flex;
    height: 350px;
    width: auto;
    position: relative;
}
