body {
    width: 80%;
    margin: auto;
}

/* .grab {
    cursor: url("images/sleep.png"), auto;
} */

td {
    padding-left: 14px;
}

#discord,
#tele,
#ig,
#link {
    color: #0000EE;
}

#discord:hover::after {
    content: ": jeff so#8466"
}

#tele:hover::after {
    content: ": @jxffso"
}

a {
    text-decoration: none;
}

.card {
    width: 50%;
    float: right;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: 'cover';
}
h5:hover {
    background-color: yellow;
}